<div class="container py-5">
    <div class="row">
        <div class="col-md-8 mx-auto mb-4">
            <h1 class="text-2xl font-bold mb-2"><%= @post.title %></h1>
            
            <div class="text-sm text-gray-500 mb-4">
            <span class="capitalize"><%= @post.post_type %></span> • 
            Posted by <%= @post.user.email %> • 
            <%= time_ago_in_words(@post.created_at) %> ago
            </div>
            
            <div class="prose max-w-none mb-6">
            <%= simple_format(@post.body) %>
            </div>
            
            <div class="d-sm-flex align-items-center justify-content-between mb-4">

                <% if @post.feature_image.attached? %>
                    <%= image_tag @post.feature_image.variant(resize_to_limit: [600, 400]) %>
                <% end %>

                <% if @post.main_image.attached? %>
                    <%= image_tag @post.main_image.variant(resize_to_limit: [1200, 800]) %>
                <% end %>
            
                <div class="flex items-center space-x-1">
                    <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" width="24" height="24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"></path>
                    </svg>
                    <span><%= @post.comments.count %> comments</span>
                </div>

                <div class="d-flex align-items-center gap-1">
                    <%= render "likes/like_button", likeable: @post %>
                    <span><%= @post.likes.count %></span>
                </div>
            
                <% if current_user == @post.user %>
                    <div class="flex space-x-2">
                    <%= link_to "Edit", edit_post_path(@post), class: "text-blue-500 hover:underline" %>
                    <%= button_to "Delete", [comment.commentable, comment], method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }, class: "btn btn-link text-danger p-0" %>                    </div>
                <% end %>
            </div>
            
            <div class="mb-6">
                <%= render "comments/form", commentable: @post %>
            </div>
            
            <div class="space-y-4">
                <section>
                    <div class="comments-wrapper">
                        <div class="row d-flex justify-content-center">
                            <div class="">
                                <h3 class="font-semibold"><%= pluralize(@post.comments.count, "Comment") %></h3>
                                <%= render @post.comments.order(created_at: :desc) %>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>